# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*~

# Jupyter Notebook
.ipynb_checkpoints

# Environment and Install
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
dist/
build/
*.egg

# Django
*.log
*.pot
*.pyc
db.sqlite3
media

# Database
*.db

# Flask
instance/
.webassets-cache

# Scrapy
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/